version: '3.8'
services:
  db:
    image: postgres:15
    container_name: sprint_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Rudeus17
      POSTGRES_DB: sprint_live_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: